{% extends 'core/base.html' %}

{% block content_title %}
Categorías de artículos
{% endblock content_title %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <form method="get">
            <input type="text" class="form-control" name="consulta" placeholder="Buscar categoria">
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Categorias</th>
            </tr>
        </thead>
        <tbody>
            {% if user.is_staff %}
            <a href="{% url 'catalogo:categoria_form' %}" class="btn btn-secondary">Agregar categoria</a>
            {% endif %}
            {% for categoria in object_list %}
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>
                    {% if user.is_staff %}

                    <a href=" {% url 'catalogo:categoria_update' categoria.id %}" class="btn btn-secondary"><i
                            class="fas fa-pencil-alt"></i> Editar</a>
                    <a href="{% url 'catalogo:categoria_delete' categoria.id %}" class="btn btn-secondary "><i
                            class="fas fa-trash-alt"></i>Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center">No hay categorías disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}