{% extends 'core/base.html' %}


{% block content_title %}
Catálogo de productos
{% endblock content_title %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <form method="get">
            <input type="text" class="form-control" name="consulta" placeholder="Buscar artículo">
        </form>
    </div>
    {% if user.is_staff %}
    <a href="{% url 'catalogo:producto_form' %}" class="btn btn-danger">Agregar artículo</a>
    <a href="{% url 'catalogo:categoria_form' %}" class="btn btn-danger">Crear categoría</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Artículos</th>
                <th>Precio</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in object_list %}
            <tr>
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.precio }}</td>
                <td>{{ articulo.categoria }}</td>
                <td>
                    <a href="{% url 'catalogo:producto_detail' articulo.id %}" class="btn btn-danger">
                        <i class="fas fa-star"></i> Detalle</a>
                    {% if user.is_staff %}
                    <a href=" {% url 'catalogo:producto_update' articulo.id %}" class="btn btn-danger"><i
                            class="fas fa-pencil-alt"></i> Editar</a>
                    <a href="{% url 'catalogo:producto_confirm_delete' articulo.id %}" class="btn btn-danger "><i
                            class="fas fa-trash-alt"></i>Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center">No hay artículos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}