{% load static %}
<div class="col-md-6 mb-5">
    <div class="card h-90">
        <div class="card-body">
            <h2 class="card-title text-center">Ventas</h2>
        </div>
    </div>
    <div class="card-footer d-grid"><a href="venta/list" class="btn btn-primary btn-sm">Ver</a>
    </div>
</div>

<div class="col-md-6 mb-5">
    <div class="card h-90">
        <div class="card-body">
            <h2 class="card-title text-center">Catálogo</h2>
        </div>
    </div>
    <div class="card-footer d-grid"><a href="producto/list" class="btn btn-primary btn-sm">Ver</a>
    </div>
</div>



