{% extends 'core/base.html' %}


{% block content_title %}
Ventas realizadas
{% endblock content_title %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <form method="get">
            <input type="text" class="form-control" name="consulta" placeholder="Buscar transacción">
        </form>
    </div>

    <a {% if user.is_authenticated %} href="{% url 'catalogo:venta_form' %}" {% else %} href="{% url 'core:login' %}"
        {%endif %} class="btn btn-secondary">Ingresar una venta</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#Operación</th>
                <th>Articulo</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Precio total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td>{{ item.operacion }}</td>
                <td>{{ item.articulo }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio_unitario }}</td>
                <td>{{ item.precio_neto }}</td>
                <td>
                    <a href=" {% url 'catalogo:venta_update' item.pk %}" class="btn btn-secondary"><i
                            class="fas fa-pencil-alt"></i> Editar</a>
                    <a href="{% url 'catalogo:venta_confirm_delete' item.pk %}" class="btn btn-secondary"><i
                            class="fas fa-trash-alt"></i>Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center">No hay información disponible.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}