{% extends 'core/base.html' %}

{% block content_title %}
ABM de clientes
{% endblock content_title %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <form method="get">
            <input type="text" class="form-control" name="consulta" placeholder="Buscar cliente">
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Alta</th>
            </tr>
        </thead>
        <tbody>

            <a href="{% url 'cliente:cliente_form' %}" class="btn btn-secondary">Nuevo cliente</a>

            {% for comprador in object_list %}
            <tr>
                <td>{{ comprador.nombre }}</td>
                <td>{{ comprador.apellido }}</td>
                <td>{{ comprador.fecha_alta }}</td>
                <td>
                    <a href="{% url 'cliente:cliente_detail' comprador.id %}" class="btn btn-secondary">
                        <i class="fas fa-star"></i> Detalle</a>
                    <a href=" {% url 'cliente:cliente_update' comprador.id %}" class="btn btn-secondary"><i
                            class="fas fa-pencil-alt"></i> Editar</a>
                    {% if user.is_staff %}
                    <a href="{% url 'cliente:cliente_confirm_delete' comprador.id %}" class="btn btn-secondary "><i
                            class="fas fa-trash-alt"></i>Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center">La búsqueda no ha arrojado valor.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}