{% extends 'core/base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="text-center">
        <h1 class="display-4">Bienvenid@ a Bazar Deco</h1>
        <p class="lead">Mi nombre es Karina Dalton, soy Contadora Pública especializada en la industria Fintech. De ahí
            mi primer contacto con el mundo de la programación y la tecnología. Mi deseo es poder poder fusionar ambos
            conocimientos y poder buscar soluciones a los problemas que hay mi rubro. Este es mi link a mi perfil de
            LinkedIn.</p>

        <a href="https://www.linkedin.com/in/karina-gabriela-dalton/" target="_blank">Karina Dalton</a>
    </div>
</div>

{% endblock content %}