{% extends 'core/base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="text-center">
        <h1 class="display-4">Bienvenido a La Triada Home</h1>
        <p class="lead">Mi nombre es Karina Dalton, soy Contadora Pública y esta es mi primer página web. Te dejo mi
            perfil de LinkedIn para que me conozcas más.</p>

        <a href="https://www.linkedin.com/in/karina-gabriela-dalton/" target="_blank">Mi perfil de LinkedIn</a>
    </div>
</div>

{% endblock content %}